h1 {
    /* text-align: center; */
    width: 430px;
    height: 40px;
    text-align: center;
    color: #951FCF;
    font-style:unset;
}

.entrada {
    
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: large;
    border-color: rgb(43, 86, 226);
    background-color: azure;
    border-style: solid;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5px 10px 5px 10px;
}
 
.secundario {
    width: 100px;
    margin: 10px 5px 10px 5px;

}

.principales {
    width: 210px;
    margin: 5px 7.5px 5px 7.5px;

}

#resultado {
    text-align: center;
    width: 430px;
    height: 60px;
    font-size: xx-large;
    border-color: rgb(226, 43, 205);
    background-color: rgb(236, 236, 186);
    border-style: solid;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 5px 10px 5px 10px;
}

.redondeo {
    width: 137.5px;
    margin: 10px 5px 10px 5px;
}

/* div input .entrada {
    flex: auto;
    width: 400px;

} */

 button {
    background-color: blueviolet;
    border: solid;
    border-color: white;
    border-radius: 5px;
    color: aliceblue;
    font-size: large;
    font-weight: bold;
 }