img {
    width: 35%;
    margin: 30px;
}

#contenedor {
    width: 90%;
    display: flex; 
    justify-content: space-around;
} 

label {
    margin-bottom: 10px;
    margin-top: 60px;
    font-size: larger;
}

select {
    margin: bottom 30px;
    margin-top: 10px;
}

section {
    margin-right: 30px;
    border: 5px;
    border-style: solid;
    border-radius: 30px;
    background-color:#FFFDDD;
    border-color:pink;
    padding: 30px;

}

select {
    font-size: large;
}

button {
    font-size: larger;
}

h2 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
    font-style: italic;
}